body {
    background-image:
      url('https://wallpapercave.com/wp/wp4165452.jpg');
    background-size: 100vw 100vh;
    font-family: Trebuche;
    height: 100vh;
    
  }
  .menu{
    background-color:White;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  a{
    text-decoration:none;
    color: Dark Blue;
  }
  a:hover {
    text-decoration: underline;
  }
  .menu li {
    list-style: none;
  }
  .site-title {
    text-align: center;
    color: White;
  }
  .site-subtitle {
    text-align: center;
    color: White;
    font-style: none;
  }